.grid {
    float: left;
    padding: 15px;
    margin: 10px;
    border: 0;
    border-radius: 0;
    box-shadow: 1px 0 #f0f0f0, 0 1px #f0f0f0, 1px 1px #f0f0f0, 1px 0 #f0f0f0 inset, 0 1px #f0f0f0 inset;
    transition: all .3s;
    cursor: pointer;
    display: block;
    position: relative;
}

.grid:hover {
    transform: translateY(-5px);
}



.folder-grid {
    width: 33.33%;
    display: flex;
    flex: 0 0 25%;
    max-width: 22%;
    margin-top: 0;
    margin-bottom: 0;
}


.folder-grid .icon {
    width: 17px;
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 10px;
}

.file-grid {
    height: 220px;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 17px;
}

.file-grid .icon {
    width: 100%;
}

.info-icon {
    width: 9%;
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer;
    display: none;
}

.grid:hover .info-icon {
    display: block;
}

.selected {
    background-color: #7f8fbb29;
    color: #438bcb;
}

.relative {
    position: relative;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    z-index: 10;
}

.menu button {
    border-radius: 0;
    border: none;
}

.menu button:hover {
    background-color: #ebebeb;
}

.file-grid .info-image {
    width: 150px;
    height: 150px;
    width: 150 px;
    height: 150 px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-grid .info-title {
    height: calc(100% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}